<!DOCTYPE html>
<html>
<head>
	<title>Input Example</title>
</head>
<body>
	<form method="POST" action="{% url 'index-view' %}">
	  {% csrf_token %}
	  <label for="inputField">请输入内容：</label>
	  <input type="text" id="inputField" name="inputField"><br><br>
	  <button type="submit">提交</button>
	</form>
    <form method="POST" action="{% url 'index-view' %}">
	  {% csrf_token %}
	  <label for="inputField">请输入内容：</label>
	  <textarea id="inputField" name="inputField" rows="4" cols="50"></textarea><br><br>
	  <button type="submit">提交</button>
	</form>
</body>
</html>